@model PacchettoViaggio


<div class="card m-auto" style="width: 18rem;">
    <img class="card-img-top" src="@Model.Image" alt="@Model.Name" title="@Model.Name">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">€ @Model.Price</p>
        <p class="card-text">@Model.Date.ToString("dd/MM/yyyy")</p>
       
        <a href="@Url.Action("Index", "Admin")" class="btn btn-primary">Indietro</a>
    </div>
</div>

@{
    if (Model.Messages.Any())
    {

        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">Titolo</th>
                    <th scope="col">Messaggio</th>
                    <th scope="col">Nome cliente</th>
                    <th scope="col">Email cliente</th>
                    <th scope="col">Data e ora</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>


                @foreach (var msg in @Model.Messages)
                {
                    <tr>
                        <td>@msg.Title</td>
                        <td><a href="@Url.Action("ShowMessage","Messages" , new { id = msg.Id })">@GetPartOfContent()</a></td>
                        <td>@msg.CustomerName</td>
                        <td>@msg.CustomerEmail</td>
                        <td>@msg.Created</td>
                        <td>

                            <form class="d-inline" asp-controller="Messages" asp-action="Delete" method="post" asp-route-id="@msg.Id">
                                @Html.AntiForgeryToken()

                                <button onclick="return confirm('Vuoi eliminare questo messaggio?')" class="btn btn-danger btn-sm" type="submit">Elimina</button>
                            </form>

                        </td>
                    </tr>

                    string GetPartOfContent()
                    {

                        int titleLength = msg.Content.Length;
                        int maxLength = 35;

                        if (titleLength < maxLength)
                        {
                            return msg.Content.Substring(0, titleLength).Trim();
                        }
                        else
                        {
                            return msg.Content.Substring(0, maxLength).Trim() + "...";
                        }

                    }
                }

                

            </tbody>
        </table>
    }
}