@model PacchettoViaggio


<div class="card m-auto" style="width: 18rem;">
    <img class="card-img-top" src="@Model.Image" alt="@Model.Name">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">€ @Model.Price</p>
        <p class="card-text">@Model.Date</p>
        <a href="@Url.Action("Index", "Admin")" class="btn btn-primary">Indietro</a>
    </div>
</div>