@model Info



<div class="card border m-auto my-5" style="max-width: 50rem;">
    <div class="card-header d-flex justify-content-between"><span>@Model.CustomerName</span> <span>@Model.PacchettoViaggio.Name, @Model.Created</span></div>
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Content</p>
    </div>

    <a href="@Url.Action("Index", "Messages")" class="btn btn-outline-dark m-auto mt-3" style="width: 20%;">Indietro</a>


