@model List<Info>;

@{
    bool isEmpty = !Model.Any();
}

@{
    if (!isEmpty)
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Titolo</th>
                    <th scope="col">Messaggio</th>
                    <th scope="col">Nome cliente</th>
                    <th scope="col">Email cliente</th>
                    <th scope="col">Data e ora</th>
                    <th scope="col">Nome pacchetto</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @{
                    foreach (var msg in Model)
                    {
                        <tr>
                            <td>@msg.Title</td>
                            <td>@msg.Content</td>
                            <td>@msg.CustomerName</td>
                            <td>@msg.CustomerEmail</td>
                            <td>@msg.Created</td>
                            <td>@msg.PacchettoViaggio.Name</td>
                            <td>
                                
                                <form class="d-inline" asp-controller="Messages" asp-action="Delete" method="post" asp-route-id="@msg.Id">
                                    @Html.AntiForgeryToken()

                                    <button onclick="return confirm('Vuoi eliminare questo messaggio?')" class="btn btn-danger btn-sm" type="submit">Elimina</button>
                                </form>

                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    }

    else
    {
        <h3>Non ci sono pacchetti da mostrare</h3>
    }
}
